:root {
	font-family: "Poppins", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	--font-mono: "Fira Mono", monospace;
	--pure-white: #ffffff;
	--primary-color: #d4a586;
	--secondary-color: #D79263;
	--accent-color: #f0780c;
	--heading-color: #000000;
	--text-color: #000000;
	--background: #e3e3e3;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-vertical: 2rem;
	--column-margin-horizontal: 4rem;
	--container-padding: 4rem
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--pure-white);
}

h1,
h2,
p {
	font-weight: 500;
	color: var(--heading-color);
}

p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

.details {
	font-size: 14px;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button.call-to-action {
	border: none;
	background-color: var(--accent-color);
	color: var(--pure-white);
	padding: .5rem .5rem;
	width: fit-content;
	border-radius: 10px;
	text-align: center;

}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
